.navbar-header-toolbar {
  justify-content: space-between;
}

.navbar-action{
  width: 48px;
}

@media (min-width: 950px){
  .navbar-header-toolbar {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
  }
}
