div.subject-avatar {
  border-radius: 0;
  height: 60px;
  width: 80px;
}

.subject-text {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
}

.subject-text .subject-title {
  font-weight: bold;
}

.subject-icon {
  font-size: 16px;
  vertical-align: middle;
}

.subject-date {
  vertical-align: text-top;
}

.subject-type {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: white;
  width: 42px;
  padding: 5px;
}

.subject-type-name {
  font-size: 30px;
}

.subject-seats {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: white;
  background-color: grey;
  width: 50px;
  margin: 5px;
  padding: 5px;
}

.subject-seats-number {
  font-size: 30px;
}

.subject-item {
  width: 100%;
}

.subject-item li{
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 851px) {
  .subject-item {
    max-width: 420px;
  }
}
